*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #efd9b4;
    background-attachment: fixed;
    background-size: 100% 100%;
}


fieldset{
    width: 50%;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 5%;
    padding-top: 20px;
    padding: 2%;
}

.Form h1{
    padding-bottom: 20px;
    color: #292522          ;
}

input{
    border-radius: 10px;
    height: 25px;
    margin-top: 10px;
    border: none;
    background-color:#292522 ;
    color: #a39081;
}


select{
    background-color: #292522;
    color: #a39081;
    border-radius: 10px;
    height: 25px;
    border: none;
    cursor: pointer;
}

::placeholder{
    color: #a39081;
    padding-left: 10px;
}

input[type="submit"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 20pxs;
    
}

input[type="submit"]:hover{
    background: black;
    color: #a39081;
}



input[type="reset"]{
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 60px;
    height: 20pxs;
    
}

input[type="reset"]:hover{
    background: black;
    color: #a39081;
}

.file-input{
    display: none;
}

.custom-file-up {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color:#292522 ;
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: #a39081;
  }

  
